<h3>Login Form :</h3>
<form [ngFormModel]="_loginForm" (submit)="signIn()">
    <div>
        <label for="email">Email</label>
        <input ngControl="email" id="email" #username="ngForm">
        <auth-messages control="email"></auth-messages>
    </div>
    <div>
        <label for="password">Password</label>
        <input ngControl="password" id="password" #password="ngForm">
        <auth-messages control="password"></auth-messages>
    </div>
    <button type="submit" [disabled]="!_loginForm.valid">Login</button>
</form>
<p *ngIf="_loginErrors">{{_loginErrors}}</p>
